.main{
    max-width: 1400px;
}
.hero{
    display: flex;
    background-color: rgb(187, 166, 140);
}
.hero-text{
    padding: 30px;
    margin: 20px;
}
.hero-text p{
    padding-top: 30px;
    padding: 50px;
    font-size: 30px;
}
.hero button{
    width: 200px;
   display: flex;
   justify-content: center;
   text-align: center;
}